.wrapper {
    padding: 35px 45px 427px 27px;
    height: 476px;
    background: rgba(32, 29, 29, 0.55) no-repeat;
    background-image: url("../../img/bgnumbers0.png"), url("../../img/bgnumbers.png");
    background-position: 220% 67%, -161% 108%;
}

.container {
    border-radius: 46px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(255, 255, 255, .2);
    margin-bottom: 25px;
    cursor: pointer;
    transition: 1s ease-in-out;
    overflow: hidden;
    position: relative;
    z-index: 100;
}

.container:hover {
    transition: 1s ease-in-out;
    transform: translateY(30px) scale(1.1);
}

.title {
    font-weight: 600;
    font-size: 35px;
    line-height: 120%;
    letter-spacing: 0.02em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    margin: 25px 0 25px 0;
}

.title > span {
    background: linear-gradient(89.95deg, #487FFF -1.65%, #73B5FF 51.06%, #CB76FF 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    font-size: 35px;
    letter-spacing: 0.02em;
    font-family: "Mazzard H", sans-serif;
}

.roundGradient {
    display: block;
    position: absolute;
    width: 251px;
    height: 265px;
    z-index: 100;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.07) 0%, rgba(196, 196, 196, 0) 100%);
    top: 72%;
    left: 61%;
}



@media (min-width: 1440px) {
    .wrapper {
        padding: 427px 45px 35px 27px;
        width: 464px;
        height: 691px;
        background: rgba(32, 29, 29, 0.55) url("../../img/spotMarginNumbersBgDesctop.png") repeat-x 811% -4%;
        position: relative;
        z-index: 100;
    }

    .backing {
        width: 464px;
        height: 691px;
        background: #000000;
        border-radius: 28px;
        position: absolute;
        z-index: 50;
    }

    .roundGradient {
        top: 72%;
        left: 61%;
    }

}
