.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.subTitle {
    text-transform: uppercase;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #AAAAAA;
    margin-bottom: 20px;
}

.title {
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.02em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}

.titleWrapper {
    margin-top: 145px;
}

.mouseImg {
    width: 17px;
    height: 29px;
}

