.wrapper {
    margin-top: 20px;
    padding: 25px 65px 25px 25px;
    position: relative;
}

.title {
    width: 213px;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    opacity: 0.9;
    color: #FFFFFF;
    font-family: "Mazzard H", sans-serif;
    margin: 50px 0 50px 0;
}

.gradient {
    display: none;
}

@media (min-width: 1440px) {
    .wrapper {
        width: 320px;
        height: 358px;
    }

    .gradient {
        border-radius: 50%;
        display: block;
        position: absolute;
        width: 251px;
        height: 265px;
        left: 195px;
        top: 240px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.07) 0%, rgba(196, 196, 196, 0) 100%);
    }
}