.wrapper {
    padding: 25px 65px 25px 25px;
    position: relative;
    background: rgba(32, 29, 29, 0.55);
}

.container {
    border-radius: 46px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(255, 255, 255, .2);
    margin-bottom: 25px;
    cursor: pointer;
    transition: 1s ease-in-out;
    overflow: hidden;
    background: rgba(32, 29, 29, 0.55);
    position: relative;
    z-index: 100;
}

.container:hover {
    transition: 1s ease-in-out;
    transform: translateY(30px) scale(1.1);
}

.title {
    width: 213px;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    opacity: 0.9;
    color: #FFFFFF;
    font-family: "Mazzard H", sans-serif;
    margin: 50px 0 50px 0;
}

.gradient {
    border-radius: 50%;
    display: block;
    position: absolute;
    width: 251px;
    height: 265px;
    left: 195px;
    top: 240px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.07) 0%, rgba(196, 196, 196, 0) 100%);
}


@media (min-width: 1440px) {
    .wrapper {
        width: 320px;
        height: 358px;
        position: relative;
        z-index: 100;
    }

    .backing {
        width: 320px;
        height: 358px;
        background: #000000;
        border-radius: 28px;
        position: absolute;
        z-index: 50;
    }

    .gradient {
        left: 195px;
        top: 240px;
    }
}