.title {
    font-weight: 600;
    font-size: 52px;
    line-height: 61px;
    color: #FFFFFF;
    font-style: normal;
    text-align: center;
}

.descTopTitle {
    display: none;
}

.traders {
    margin-left: 10px;
    background: linear-gradient(89.95deg, #487FFF -1.65%, #73B5FF 51.06%, #CB76FF 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    font-size: 49px;
    font-family: "Mazzard H", sans-serif;
}

.traders:after {
    content: "__";
    color: palevioletred;
    margin-left: 10px;
}


.element {
    width: 22px;
    height: 8px;
    background: #CB76FF;
}


@media (min-width: 1440px) {
    .title {
        font-size: 96px;
        line-height: 90px;
        text-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
        text-align: left;
    }

    .traders {
        font-size: 70px;
        text-align: left;
        text-fill-color: transparent;
        text-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
        background: linear-gradient(89.95deg, #487FFF -1.65%, #73B5FF 51.06%, #CB76FF 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-left: 0;
        margin-top: 10px;

    }
    .mobileTitle {
        display: none;
    }
    .descTopTitle {
        display: block;
        width: 650px;
    }
}

