.wrapper {
    margin: 100px 0 110px 0;
    position: relative;
    z-index: 10;
}

.title {
    font-weight: 600;
    font-size: 35px;
    line-height: 120%;
    letter-spacing: 0.02em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}

.platform {
    background: #487FFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    font-size: 34px;
    letter-spacing: 0.02em;
    font-family: "Mazzard H", sans-serif;
}

.text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    opacity: 0.8;
    margin: 30px 0 20px 0;
}

.learnMore {
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0.01em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #7B93FF;
}

.backing {
    width: 335px;
    height: 180px;
    background: #000000;
    position: absolute;
    border-radius: 28px;
}

.usageWrapper {
    width: 335px;
    height: 180px;
    background: rgba(32, 29, 29, 0.55);
    border-radius: 28px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, .3);
    padding: 20px 20px 25px 20px;
    margin-top: 50px;
    position: relative;
    z-index: 100;
}


.networks {
    width: 160px;
    height: 60px;
    margin: 0 auto;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background: #000000;
    text-align: center;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, .3);
}

.blockWrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.usageBlock {
    width: 130px;
    height: 60px;
}

.centerBlock {
    background: #000000;
    width: 150px;
    height: 68px;
}

.centerWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    position: relative;
    z-index: 5;
}

.centerWrapper > div:nth-child(2) {
    height: 68px;
}

.bottomBlock {
    background: rgba(32, 29, 29, 0.55);
    border-radius: 28px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, .3);
    padding: 25px 20px 60px 20px;
    margin-top: 35px;
}

.bottomWrapper {
    display: flex;
    justify-content: space-around;
}

.logo {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.futureText {
    font-weight: 400;
    font-size: 14px;
    line-height: 138%;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    width: 230px;
    height: 60px;
    margin: 0 auto;
}

.consumers {
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    text-align: center;
    margin-top: 55px;
}

.arrows {
    position: absolute;
    left: 43%;
    top: 89%;
}

.shadow {
    position: absolute;
    width: 182px;
    height: 183px;
    background: #929292;
    filter: blur(225px);
    left: 52%;
    top: -6%;
}

.gradient {
    position: absolute;
    width: 589px;
    height: 350px;
    background: linear-gradient(180deg, rgba(0, 65, 218, 0.115) 0%, rgba(40, 0, 153, 0.115) 91.72%);
    filter: blur(100px);
    border-radius: 3px;
    transform: rotate(131.65deg);
    left: 30%;
    top: 10%;
}

.bottomGradient {
    position: absolute;
    left: -61%;
    top: 85%;
    width: 477px;
    height: 283px;
    background: linear-gradient(180deg, rgba(0, 65, 218, 0.161) 0%, rgba(40, 0, 153, 0.161) 91.72%);
    filter: blur(100px);
    border-radius: 3px;
    transform: rotate(131.65deg);
}

.circleWrapper {
    display: none;
}


.line1 {
    position: absolute;
    width: 19px;
    background: linear-gradient(90deg, #B7B6BB 0%, #5E5971 102.25%);
    opacity: 0.8;
    height: 1px;
    top: 47.4%;
    left: 25%;
    transform: rotate(90deg);
    z-index: 100;
}

.line2 {
    position: absolute;
    width: 19px;
    background: linear-gradient(90deg, #B7B6BB 0%, #5E5971 102.25%);
    opacity: 0.8;
    height: 1px;
    top: 47.4%;
    left: 68%;
    transform: rotate(90deg);
    z-index: 100;
}

.line3 {
    position: absolute;
    width: 46px;
    background: linear-gradient(90deg, #B7B6BB 0%, #5E5971 102.25%);
    opacity: 0.8;
    height: 1px;
    top: 55%;
    left: 19.5%;

}

.line4 {
    position: absolute;
    width: 147px;
    background: linear-gradient(90deg, #B7B6BB 0%, #5E5971 102.25%);
    opacity: 0.8;
    height: 1px;
    top: 51.4%;
    left: 28%;

}

.line5 {
    position: absolute;
    width: 157px;
    background: linear-gradient(90deg, #B7B6BB 0%, #5E5971 102.25%);
    opacity: 0.8;
    height: 1px;
    top: 59%;
    left: 48%;
    transform: rotate(90deg);

}


.line6 {
    position: absolute;
    width: 157px;
    background: linear-gradient(90deg, #B7B6BB 0%, #5E5971 102.25%);
    opacity: 0.8;
    height: 1px;
    top: 59%;
    left: 5%;
    transform: rotate(90deg);
}

.middleLine {
    position: absolute;
    width: 261px;
    background: linear-gradient(90deg, #B7B6BB 0%, #5E5971 102.25%);
    height: 1px;
    left: 37px;
    top: 532px;
    opacity: 0.8;
    transform: rotate(90deg);
    z-index: 100;
}

.rectangle {
    display: none;
}


@media (min-width: 1440px) {
    .backing {
        width: 216px;
        height: 293px;
        top: 26%;
        z-index: 50;
    }

    .usageWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 293px;
        justify-content: center;
        width: 216px;
        margin-top: 126px;
    }

    .blockWrapper {
        display: block;
    }

    .block {
        width: 162px;
        height: 52px;
    }

    .networks {
        padding: 23px;
        margin-bottom: 7px
    }

    .consumers {
        margin: 47px 0 0 63px;
    }

    .blockWrapper > div:first-child {
        margin-bottom: 27px;
    }

    .centerWrapper {
        display: block;
        margin-top: 203px
    }

    .centerWrapper > div:first-child {
        margin-bottom: 30px;
    }

    .bottomBlock {
        width: 265px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 0 29px 75px 29px;
    }

    .bottomBacking {

    }

    .bottomWrapper {
        display: block;
        margin-top: 24px;
    }

    .descTopWrapper {
        display: flex;
        flex-direction: column;
    }

    .usageBlock:first-child {
        margin-bottom: 37px;
    }

    .descTopContainer {
        width: 416px;
        height: 290px;
        padding: 95px 0 0 45px
    }

    .blockContainer {
        display: flex;
        justify-content: space-between;
        width: 716px;
    }

    .flexContainer {
        display: flex;
        flex-direction: row-reverse;
    }

    .title {
        font-size: 40px;
        line-height: 120%;
        letter-spacing: 0.02em;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    .platform {
        font-size: 37px;
        border-image-source: linear-gradient(89.95deg, #487FFF -1.65%, #73B5FF 51.06%, #CB76FF 99.96%);
    }

    .text {
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0.01em;
    }

    .arrows {
        left: 51%;
        top: 74%;
        height: 83px;
    }

    .circleWrapper {
        display: block;
    }

    .circle {
        position: absolute;
        left: 64%;
        top: -47%;
        opacity: 0.3;
    }

    .circle2 {
        position: absolute;
        left: 47%;
        top: -86%;
        opacity: 0.3;
        z-index: 1;
    }

    .circle3 {
        position: absolute;
        left: 24%;
        top: -137%;
        opacity: 0.3;
        z-index: 1;
    }

    .circle4 {
        position: absolute;
        left: 11px;
        top: -190%;
        opacity: 0.3;
        z-index: 1;
    }

    .middleLine {
        display: none;
    }

    .line1 {
        position: absolute;
        width: 26px;
        background: linear-gradient(90deg, #B7B6BB 0%, #5E5971 102.25%);
        opacity: 0.8;
        height: 1px;
        top: 39%;
        left: 19.5%;
        transform: rotate(0deg);
    }

    .line2 {
        position: absolute;
        width: 26px;
        background: linear-gradient(90deg, #B7B6BB 0%, #5E5971 102.25%);
        opacity: 0.8;
        height: 1px;
        top: 70%;
        left: 19.5%;
        transform: rotate(0deg);
    }

    .line3 {
        position: absolute;
        width: 42px;
        background: linear-gradient(90deg, #B7B6BB 0%, #5E5971 102.25%);
        opacity: 0.8;
        height: 1px;
        top: 55%;
        left: 19.5%;
        z-index: 100;
    }

    .line4 {
        display: none;
    }

    .line5 {
        display: none;
    }

    .line6 {
        position: absolute;
        width: 265px;
        background: linear-gradient(90deg, #B7B6BB 0%, #5E5971 102.25%);
        opacity: 0.8;
        height: 2px;
        top: 64%;
        left: 23.5%;
        transform: rotate(0deg);
        display: none;
    }

    .rectangle {
        position: absolute;
        display: block;
        width: 271px;
        height: 90px;
        border: 1px solid slategray;
        top: 47%;
        left: 23%;
        border-right: none;
        border-image: linear-gradient(90deg, #B7B6BB 0%, #5E5971 102.25%);
        border-image-slice: 1;
        opacity: 0.8;
    }
}