.wrapper {
    position: relative;
    margin-top: 75px;
    height: 275px;
    width: 700px;
}

.firstStep {
    background: #C4C4C4;
    width: 97px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    left: 13%;
    top: 68px;
    background: rgba(40, 63, 176, 0.32);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.secondStep {
    background: #C4C4C4;
    width: 73px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 8px;
    line-height: 10px;
    text-align: center;
    position: absolute;
    left: 30%;
    top: -7px;
    background: rgba(40, 63, 176, 0.32);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.thirdStep {
    display: none;
}

.trading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 8px;
    line-height: 10px;
    background: #C4C4C4;
    border-radius: 4px;
    background: rgba(40, 63, 176, 0.55);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 70px;
    height: 70px;
    transform: rotate(45deg);
    position: absolute;
    left: 39%;
    top: 56px;
}

.trade {
    transform: rotate(315deg);
}

.earning {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49px;
    height: 49px;
    background: rgba(40, 63, 176, 0.2);
    border-radius: 50%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    font-size: 8px;
    line-height: 7px;
    position: absolute;
    left: 31%;
    top: 226px;
}

.staking {
    display: none;
}

.stepsArrow1 {
    position: absolute;
    top: 2px;
    left: 19%;
    width: 65px;
    height: 55px;
}

.dottedArrow {
    position: absolute;
    left: 42%;
    width: 67px;
}

.straightArrow {
    position: absolute;
    top: 87px;
    left: 28%;
    width: 56px;
}

.difficultArrow {
    position: absolute;
    top: 153px;
    left: 34%;
    width: 143px;
}

.shadow {
    position: absolute;
    top: -40%;
    width: 494px;
    height: 398px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.09) 0%, rgba(196, 196, 196, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.unionShadow {
    position: absolute;
    width: 318px;
    height: 257px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.09) 0%, rgba(196, 196, 196, 0) 100%);
    left: 45%;
}

@media (min-width: 1440px) {

    .firstStep {
        width: 155px;
        height: 80px;
        top: 71%;
        left: 7%;
        font-size: 13px;
        line-height: 15px;
    }

    .secondStep {
        width: 117px;
        height: 50px;
        top: 27%;
        left: 44%;
        font-size: 13px;
        line-height: 15px;
    }

    .thirdStep {
        font-size: 13px;
        line-height: 15px;
        background: #C4C4C4;
        width: 155px;
        height: 78px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        text-align: center;
        position: absolute;
        left: 95%;
        top: 22%;
        background: rgba(40, 63, 176, 0.32);
        border-radius: 10px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    }

    .trading {
        width: 122px;
        height: 122px;
        top: 64%;
        left: 68%;
        font-size: 13px;
        line-height: 15px;
    }

    .earning {
        width: 80px;
        height: 80px;
        left: 52%;
        top: 455px;
        font-size: 13px;
        line-height: 15px;
    }

    .staking {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        background: rgba(40, 63, 176, 0.2);
        border-radius: 50%;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        color: #FFFFFF;
        font-size: 13px;
        line-height: 15px;
        position: absolute;
        left: 93%;
        top: 455px;
    }

    .stepsArrow1 {
        width: 105px;
        height: 90px;
        left: 20%;
        top: 33%;
    }

    .straightArrow {
        width: 90px;
        top: 83%;
        left: 42%;
    }

    .dottedArrow {
        width: 107px;
        top: 33%;
        left: 70%;
    }

    .difficultArrow {
        width: 230px;
        top: 125%;
        left: 58%;
    }
}
