.wrapper {
    position: relative;
    margin-top: 75px;
    height: 275px;
}

.firstStep {
    background: #C4C4C4;
    border-radius: 10px;
    width: 97px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    left: 23%;
    top: 68px;
}

.secondStep {
    background: #C4C4C4;
    border-radius: 10px;
    width: 73px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 8px;
    line-height: 10px;
    text-align: center;
    position: absolute;
    left: 61%;
    top: -7px;
}

.trading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 8px;
    line-height: 10px;
    background: #C4C4C4;
    border-radius: 4px;
    width: 70px;
    height: 70px;
    transform: rotate(45deg);
    position: absolute;
    left: 80%;
    top: 56px;
}

.trade {
    transform: rotate(315deg);
}

.earning {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    color: #FFFFFF;
    background: #C4C4C4;
    font-size: 6px;
    line-height: 7px;
    position: absolute;
    left: 64%;
    top: 226px;
}

.stepsArrow1 {
    position: absolute;
    top: 2px;
    left: 36%;
}

.dottedArrow {
    position: absolute;
    left: 88%;
}

.straightArrow {
    position: absolute;
    top: 87px;
    left: 55%;
}

.difficultArrow {
    position: absolute;
    top: 153px;
    left: 69%;
}

