.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    cursor: pointer;
}

.mobileMenu {
    height: 8px;
    width: 32px;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    cursor: pointer;
}

.descTopMenu {
    display: none;
}

.headerShadow {
    width: 376px;
    height: 303px;
    position: absolute;
    left: -25%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.09) 0%, rgba(196, 196, 196, 0) 100%);
}

.headerShadowEllipse {
    width: 322px;
    height: 191px;
    background: linear-gradient(180deg, rgba(0, 65, 218, 0.115) 0%, rgba(40, 0, 153, 0.115) 91.72%);
    filter: blur(100px);
    border-radius: 3px;
    transform: rotate(131.65deg);
    position: absolute;
    left: -60%;
}

@media (min-width: 1440px) {
    .mobileMenu {
        display: none;
    }

    .descTopMenu {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #F3F3F3;
    }

    .descTopMenu > li {
        margin-right: 45px;
        transition: .5s ease-in-out;
    }

    .descTopMenu > li:hover {
        transform: scale(1.1);
        transition: .5s ease-in-out;
    }

    .descTopMenu a:hover {
        color: #3E6FF9;
    }


    .headerButton {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 19px 35px 19px 45px;
        background: linear-gradient(140.6deg, #FFFFFF -27.18%, #DEDEDE 126.06%);
        box-shadow: 0 0 49px rgba(42, 7, 254, 0.4);
        border-radius: 10px;
        border: none;
    }

    .headerButton:hover {
        background: linear-gradient(140.6deg, #3E6FF9 -27.18%, #3E53F8 126.06%);
        outline: 2px solid #FFFFFF;
    }
}