@font-face {
    font-family: 'Mazzard H';
    src: url('../src/fonts/MazzardH-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Mazzard M';
    src: url('../src/fonts/MazzardM-Regular.ttf');
    font-weight: 500;
    font-style: normal;
}


* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.wrapper {
    margin: 0 auto;
    width: 390px;
    overflow: hidden;
}

.main {
    padding: 40px 25px 50px 25px;
    font-family: 'Mazzard M', sans-serif;
    background-color: #000000;
    background-image: url("../src/img/background-pattern.png");
    background-position: 0 3%;
    background-repeat: no-repeat;
}

.descTopTitle, .bottom-gradient {
    display: none;
}


@media (min-width: 1440px) {
    .wrapper {
        margin: 0 auto;
        width: 1440px;
        overflow: hidden;
        position: relative;
    }

    .main {
        padding: 37px 135px 162px 135px;
        background-image: url("../src/img/desctopBackground.png");
        background-position: 1% 8%;
    }

    .bgContainer {
        background-image: none;
    }

    .descTopContainer {
        display: flex;
    }

    .descTopWrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 65px;
    }

    .descTopTitle {
        display: block;
    }

    .footerContainer {
        display: flex;
        gap: 30px;
    }

    .flex-box {
        display: flex;
        gap: 30px;
    }

    .bottom-gradient {
        display: block;
        position: absolute;
        width: 923px;
        height: 581px;
        left: -6%;
        top: 97%;
        background: linear-gradient(0deg, rgba(87, 87, 87, 0.23), rgba(87, 87, 87, 0.23));
        filter: blur(100px);
        border-radius: 30px;
        transform: rotate(157.5deg);
        border: 2px solid #FFFFFF;
    }

}