@font-face {
    font-family: 'Mazzard H';
    src: url('../src/fonts/MazzardH-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Mazzard M';
    src: url('../src/fonts/MazzardM-Regular.ttf');
    font-weight: 500;
    font-style: normal;
}


* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.wrapper {
    margin: 0 auto;
    width: 390px;
}

.main {
    padding: 40px 25px 50px 25px;
    font-family: 'Mazzard M', sans-serif;
    background-color: #000000;
}

.bgContainer {
    background-image: url("../src/img/background-pattern.png");
}

.descTopTitle {
    display: none;
}

@media (min-width: 1440px) {
    .wrapper {
        margin: 0 auto;
        width: 1440px;
    }

    .main {
        padding: 37px 135px 162px 135px;
    }

    .bgContainer {
        background-image: none;
    }

    .descTopContainer {
        display: flex;
    }

    .descTopWrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 65px;
    }

    .descTopTitle {
        display: block;
    }
}