.wrapper {
    padding: 25px 65px 25px 25px;
    margin-top: 20px;
}


.title {
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    opacity: 0.9;
    color: #FFFFFF;
    font-family: "Mazzard H", sans-serif;
    width: 245px;
    margin: 50px 0 50px 0;
}

@media (min-width: 1440px) {
    .wrapper {
        width: 320px;
        height: 358px;
    }
}
